



<div class="main">
<div class="imgs">
	<img src="/assets/Tuborg logo Open File.png" alt="">
</div>




<div class="camra">
	<video #videoElement></video>
	<canvas #canvasElement style="display:none;"></canvas>
	<br>
	<!-- <div div="button row">
	
			<button class="btn col " (click)="capture()">Capture</button>
		

			<button class="btn col " (click)="capture()">Capture</button>

	
	
</div> -->

<div class="picture">
	<button class="btn capture  " (click)="capture()" >Capture</button>
</div>







  </div>










  <!-- <br>
  <img [src]="img" alt=""> -->

  </div>